table, th, td{
    border: 2px solid black;
    color: black;
}
h1{
    color: green;
}
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: none;
}
form {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
}