<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="h-100 d-inline-block">
    {% if crypto_list %}
    <table class="table">
        <thead>
        <tr>
            <th><a href="{% url 'coin_app:crypto_list' %}?order_by=name">Crypto Name</a></th>
            <th><a href="{% url 'coin_app:crypto_list' %}?order_by=symbol">Symbol</a></th>
            <th><a href="{% url 'coin_app:crypto_list' %}?order_by=-price">Price</a></th>
            <th><a href="{% url 'coin_app:crypto_list' %}?order_by=-percent_change_24h">Percent Change 24h</a></th>
            <th><a href="{% url 'coin_app:crypto_list' %}?order_by=-percent_change_7d">Percent Change 7d</a></th>
            <th><a href="{% url 'coin_app:crypto_list' %}?order_by=-market_cap">Market Cap</a></th>
            <th><a href="{% url 'coin_app:crypto_list' %}?order_by=-volume_24h">Volume 24h</a></th>
            <th><a href="{% url 'coin_app:crypto_list' %}?order_by=-circulating_supply">Circulating Supply</a></th>
        </tr>
        <thead>
        {% for bbc in crypto_list %}
        <tr>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.name }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.symbol }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">${{ bbc.price }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.percent_change_24h }}%</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.percent_change_7d }}%</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">${{ bbc.market_cap }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">${{ bbc.volume_24h }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.circulating_supply }} {{ bbc.symbol }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>NO CRYPTO TO DISPLAY</p>

    {% endif %}
</div>


{% endblock %}
