<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'coin_app/style.css' %}">
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<body>
{% csrf_token %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'coin_app:home_view' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

        </ul>
        <form class="search-bar s-active" action={% url 'coin_app:search_result' %} method='GET'>
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q" value={{search_query}}>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="row">
    <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Crypto Name</th>
                    <th>Percent Change 24h</th>
                </tr>
                <tr>
                    {% for obj in five_crypto %}
                    <th>{{ obj.name }}</th>
                    {% endfor %}
                </tr>
            </table>
    </div>
    <div class="col-md-6">
        {% if access_crypto %}
        <table class="table">
            <thead>
            <tr>
                <th>Crypto Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for obj in access_crypto|slice:5 %}
                    <th>{{ obj.name }}</th>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

    <div class="h-100 d-inline-block">
    {% if access_crypto %}
    <table class="table">
        <thead>
            <tr>
                <th><a href="/coin_app/home">Crypto Name</a></th>
                <th><a href="/coin_app/home">Symbol</a></th>
                <th><a href="/coin_app/home_price">Price</a></th>
                <th><a href="/coin_app/home_percent_change_24h">Percent Change 24h</a></th>
                <th><a href="/coin_app/home_percent_change_7d">Percent Change 7d</a></th>
                <th><a href="/coin_app/home_market_cap">Market Cap</a></th>
                <th><a href="/coin_app/home_volume_24h">Volume 24h</a></th>
                <th><a href="/coin_app/home_circulating_supply">Circulating Supply</a></th>
            </tr>
        <thead>
        {% for bbc in access_crypto %}
        <tr>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.name }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.symbol }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">${{ bbc.price }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.percent_change_24h }}%</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.percent_change_7d }}%</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">${{ bbc.market_cap }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">${{ bbc.volume_24h }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.circulating_supply }} {{ bbc.symbol }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>NO CRYPTO TO DISPLAY</p>

    {% endif %}
    </div>
</body>
</html>