<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <h1>Precious Metals</h1>
            <ul>
                {% for metal in access_metal %}
                <li>{{ metal.code }} - {{ metal.rate }}</li>
                {% endfor %}
            </ul>
        </table>

    </div>
    <div class="col-md-6">
        {% if access_crypto %}
        <table class="table">
            <h1>News</h1>
            <ul>
                {% for news in access_news %}
                <li><a href="{{ news.url }}">{{ news.title }}</a> </li>
                {% endfor %}
            </ul>
        </table>
        {% endif %}
    </div>
</div>

    <div class="h-100 d-inline-block">
    {% if access_crypto %}
    <table class="table">
        <thead>
            <tr>
                <th><a href="/coin_app/home">Crypto Name</a></th>
                <th><a href="/coin_app/home">Symbol</a></th>
                <th><a href="/coin_app/home_price">Price</a></th>
                <th><a href="/coin_app/home_percent_change_24h">Percent Change 24h</a></th>
                <th><a href="/coin_app/home_percent_change_7d">Percent Change 7d</a></th>
                <th><a href="/coin_app/home_market_cap">Market Cap</a></th>
                <th><a href="/coin_app/home_volume_24h">Volume 24h</a></th>
                <th><a href="/coin_app/home_circulating_supply">Circulating Supply</a></th>
            </tr>
        <thead>
        {% for bbc in access_crypto %}
        <tr>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.name }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.symbol }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">${{ bbc.price }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.percent_change_24h }}%</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.percent_change_7d }}%</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">${{ bbc.market_cap }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">${{ bbc.volume_24h }}</a></td>
            <td><a href="/coin_app/detail_crypto/{{bbc.id}}">{{ bbc.circulating_supply }} {{ bbc.symbol }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>NO CRYPTO TO DISPLAY</p>

    {% endif %}
    </div>


{% endblock %}